<!DOCTYPE html>
<html>
<head>
  <title>Your Life:</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
  	<h1>Your Score: <%= @quiz1.score %>/6</h1>
  	 <a href="/">RETRY(FOR LOSERS)</a>	
  </div>

</body>
</html>